# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build/
!build/icon.icns
!build/icon.ico
!build/icon.png
dist/
release/

# Build artifacts
resources/python/
resources/ollama/
__pycache__/
*.pyc
.venv/

# Miscellaneous
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env
web/.env
cloud/.env

# TypeScript
*.tsbuildinfo

# Editor
.vscode/
.idea/
